/* 
Reset
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
-----------
*/


/* 
Debug
*/
.debug header .row{
    background-color: #add8e6;
}
.debug header .col{
    background-color: #daa520;
}
.debug .h-container{
    background-color: #00008b;
}
.debug .box{
    background-color: #ee82ee;
    height: 400px;
}
.debug .border{
    border: 2px dashed black;
}
.debug .big{
    background-color: #1e90ff;
    height: 500px;
}
.debug .small{
    background-color: #ffc0cb;
    height: 500px;
}
.debug .m-box{
    background-color: #228b22;
    height: 900px;
}
.debug footer .row .col:first-child{
    background-color: #f08080;
    height: 580px;
}
.debug footer .row .col:nth-child(n+2){
    background-color: #20b2aa;
    height: 580px;
}
.debug .f-container{
    background-color: #7fffd4;
}
.debug .f-logo{
    background-color: #ffb6c1;
}
.debug button{
    background-color: #ffb6c1;
}
/* 
-----------
*/

/* 
Header
*/
.row{
    display: flex;
}
header .row{
    padding: 15px 0;
    font-size: 20px;
    justify-content: center;
}
header .col{
    padding: 15px;
}
.h-container{
    padding: 50px 0;
    border-bottom: 4px solid #add8e6;
}
.logo{
    width: 250px;
    text-align: left;
}
.link{
    width: 720px;
    text-align: center;
}
.login{
    width: 250px;
    text-align: right;
}
.box{
    width: 50%;
    margin: 0 auto;
}
/* 
----------
*/

/* 
Main
*/
main :nth-child(even){
    background-color: #d3d3d3;
}
main .row{
    padding: 50px 0px;
    justify-content: center;
}
.big{
    width: 720px;
}
.small{
    width: 470px;
}
.m-box{
    max-width: 1200px;
    margin: 0 auto;
}
.m-container{
    padding: 50px 0;
}
/* 
---------
*/

/* 
Footer
*/
footer{
    background-color: #23272a;
    border-bottom: 2px solid white;
}
footer .row .col:first-child{
    width: 360px;
}
footer .row .col:nth-child(n+2){
    width: 210px;
}
footer .row:first-child{
    padding: 10px 0 40px;
    border-bottom: 2px solid white;
    justify-content: center;
}
.row.f-container{
    justify-content: space-between;
}
.f-container{
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 25px 0;
}
.f-logo{
    padding: 10px;
}
button{
    padding: 10px;
    font-size: 18px;
}
/* 
---------
*/