/* 
Reset
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
-----------
*/


/* 
Debug
*/
.debug header{
    background-color: #add8e6;
}
.debug .col{
    background-color: #daa520;
}
.debug .h-container{
    background-color: #00008b;
    padding: 50px 0px;
}
.debug .box{
    background-color: #ee82ee;
    height: 400px;
}
.debug .border{
    border: 2px dashed black;
}
.debug .big{
    background-color: #1e90ff;
    height: 500px;
}
.debug .small{
    background-color: #ffc0cb;
    height: 500px;
}
.debug .m-box{
    background-color: #228b22;
    height: 900px;
}
/* 
-----------
*/

/* 
Header
*/
.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
header .row{
    padding: 15px;;
}
header .col{
    padding: 15px;
}
.logo{
    width: 250px;
    text-align: left;
}
.link{
    width: 720px;
    text-align: center;
}
.login{
    width: 250px;
    text-align: right;
}
.box{
    width: 50%;
    margin: 0 auto;
}
/* 
----------
*/

/* 
Main
*/
main :nth-child(even){
    background-color: #d3d3d3;
}
main .row{
    padding: 50px;
}
.big{
    width: 720px;
}
.small{
    width: 470px;
}
.m-box{
    max-width: 1190px;
    margin: 0 auto;
}
.m-container{
    padding: 50px 0;
}
/* 
---------
*/