/* 
Reset
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
-----------
*/


/* 
Debug
*/
.debug header{
    background-color: #add8e6;
}
.debug .col{
    background-color: #daa520;
    border: 1px dashed black;
}
.debug .h-container{
    background-color: #00008b;
    padding: 50px 0px;
}
.debug .box{
    background-color: #ee82ee;
    border: 1px dashed black;
    height: 400px;
}
/* 
-----------
*/

/* 
Header
*/
.row{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.col{
    padding: 15px;
}
.logo{
    width: 250px;
    text-align: left;
}
.link{
    width: 720px;
    text-align: center;
}
.login{
    width: 250px;
    text-align: right;
}
.box{
    width: 50%;
    margin: 0 auto;
}
/* 
----------
*/